{% extends "bootstrap/base.html" %}


{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='my.ico') }}"
      type="img/x-ico">
<link rel="icon" href="{{ url_for('static', filename='my.ico') }}"
      type="image/s-ico">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FLasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a> </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('main.user', username=current_user.username) }}">
                        Profile
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
{#                {% if current_user.is_authenticated %}#}
{#                <li><a href="{{ url_for('auth.logout') }}">Sing Out</a> </li>#}
{#                    {% if current_user.confirmed %}#}
{#                        <li><a href="{{ url_for('auth.modification') }}">Modificate Password</a> </li>#}
{#                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email?</a></li>#}
{#                    {% endif %}#}
{#                {% else %}#}
{#                <li><a href="{{ url_for('auth.login') }}">Sing In</a> </li>#}
{#                {% endif %}#}
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a> </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="color:blue;">
                        <li><a href="{{ url_for('auth.modification') }}">Modificate Password</a> </li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a> </li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.lang('es') }}
{{ moment.include_moment() }}
{% endblock %}